Hi
=@victory_purchase.first_name
,
%br
%br

Thanks for purchasing a single license to the Victory Framework. Your license key is as follows:
%br
%br

=@victory_purchase.license_key

%br
%br

And you can view your purchase receipt here: 

=link_to "Victory Framework purchase receipt", victory_purchase_complete_url(@victory_purchase.token)
%br
%br

Feel free to reply to this email with any questions you might have.
%br
%br
%br
%br

Thank you,
%br
%br

The Victory Team