#{@victory_purchase.first_name} #{@victory_purchase.last_name} has purchased the Victory Framework.  Hoorah.

%br
#{money_without_cents_and_with_symbol @victory_purchase.victory_framework.price_monetized}