Hi
=@user.first_name
,
<br />
<br />

Here's the payment link we mentioned.

It will only take a few moments to complete the payment:
<br />
<br />

=link_to "Complete payment", subscription_signup_url( :token => @subscription.token )
<br /><br />

Thank you,
<br /><br />

Warnock and Polivka