%h2 My Account
%p
  Settings for your user account. Please #{ mail_to 'hello@victoryframework.com', 'contact us'} if you need to change the credit card on this account.

.mini-container
  =render 'my_account_form'