%h2 New customer
%p
  This simply creates the user in the system so that they can be assigned to a plan.  The user will be prompted to complete signup once you create a subscription.

.mini-container
  =render 'form'