.logo-container
  = link_to "Victory Framework", root_path, :class => 'logo'
  .secondary
    Billing &amp; subscriptions

.login-box
  -if user_signed_in?
    = link_to 'Logout', destroy_user_session_path, :method=>'delete', :class => 'button login-button'    
  -else
    = link_to 'Login', new_user_session_path, :class => 'button login-button' 


.nav-box
  %ul.nav

    // Admin nav
    -if user_signed_in? and current_user.is? :admin
      %li
        =link_to 'Dashboard', dashboard_path
        .arrow