<h2>Manage your subscription<h2>
<p>This site allows you to manage your subscription to services provided by Warnock and Polivka Inc.</p>
<p>Any questions can be directed to <%=mail_to('hello@victoryframework.com') %></p>
