%h2
  My Subscriptions

%table.table.subscription-plans

  %thead
    %tr
      %th
        Plan
      %th
        Created
      %th
        Status
      %th

  %tbody
    -if @subscriptions.length == 0
      .no-entries
        No subscriptions created yet
    -else
      -@subscriptions.each do |subscription|
        %tr
          %td
            =subscription.plan.name
          %td
            =subscription.created_at.strftime("%b %d, %Y")
          %td
            -if subscription.active == true
              .indicator.active
            -else
              .indicator.inactive

          %td.actions
            =link_to "Cancel", subscription, :method => :delete, :confirm => 'Are you sure? The admin will be notified of this cancellation.', :class => 'button mini danger'