%h2 New subscription
%p
  Editing a subscription will change the customers subscription settings.  The customer will not be notified of this change via email, so be sure to communicate these changes.

.mini-container
  =render 'form'