%h2 New subscription
%p
  When a new subscription is created, the customer is emailed an invitation to complete the subscription.  Only once they do can the money flow in.

.mini-container
  =render 'form'