%h2 New subscription plan
%p
  The new subscription plan will be created on Stripe and will then be available to assign users to.  The amount field is the amount in dollars to be charged every month (no dollar sign, whole numbers only).

.mini-container
  =render 'form'